/* @import url(https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata); */

/* Iosevka: https://typeof.net/Iosevka/ */
@import url(../fonts/iosevka/iosevka-fixed-slab.css);

/* Bitter Pro: https://github.com/solmatas/BitterPro */
@font-face {
    font-family: "Bitter Variable";
    src: url('../fonts/bitterpro/variable/Bitter[wght].ttf') format(truetype) tech(variations);
    font-weight: 100 900;
}
@font-face {
    font-family: "Bitter Variable";
    src: url('../fonts/bitterpro/variable/Bitter-Italic[wght].ttf') format(truetype) tech(variations);
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Thin.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-ExtraLight.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Light.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Regular.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Medium.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-SemiBold.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Bold.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-ExtraBold.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Black.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-ThinItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-ExtraLightItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-LightItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-Italic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-MediumItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-SemiBoldItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-BoldItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-ExtraBoldItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Bitter;
    src: url('../fonts/bitterpro/otf/BitterPro-BlackItalic.otf') format('opentype'),
         url('../fonts/bitterpro/ttf/BitterPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Montserrat: https://github.com/JulietaUla/Montserrat */
@font-face {
    font-family: "Montserrat Variable";
    src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format(truetype) tech(variations);
    font-weight: 100 900;
}
@font-face {
    font-family: "Montserrat Variable";
    src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format(truetype) tech(variations);
    font-weight: 100 900;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Noto EMoji: https://fonts.google.com/noto/specimen/Noto+Emoji */
@font-face {
    font-family: "Noto Emoji";
    src: url('../fonts/noto-emoji/static/NotoEmoji-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Noto Emoji";
    src: url('../fonts/noto-emoji/static/NotoEmoji-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Noto Emoji";
    src: url('../fonts/noto-emoji/static/NotoEmoji-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Noto Emoji";
    src: url('../fonts/noto-emoji/static/NotoEmoji-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "Noto Emoji";
    src: url('../fonts/noto-emoji/static/NotoEmoji-Bold.ttf') format('truetype');
    font-weight: 700;
}
