{{ define "title" }}
  {{ .Site.Title }} > {{ .Title }}
{{ end }}

{{- define "main" -}}
<div class="section">
  <div class="section-body">
    {{ .Content | replaceRE `([.?!]["”)]?)  ` "${1}&thinsp; " | replaceRE `([.?!]["”)]?)(\n|$)` "${1}&thinsp;${2}" | safeHTML }}
    {{- if ne .Type "index" -}}
      {{- with .Sections -}}
        <h2>Subsections</h2>
        <ul id="subsection-list">
          {{- range . -}}
            <li>{{ partial "section_link.html" . }}</li>
          {{- end -}}
        </ul>
      {{- end -}}
      {{- with where .Pages "Kind" "page" -}}
        <h2>Posts</h2>
        <ul id="post-list">
          {{- range .  -}}
          <li>
            {{- partial "post_link.html" . -}}
          </li>
          {{- end -}}
        </ul>
      {{- end -}}
    {{- end -}}
  </div>
</div>
{{- end -}}
