<nav id="sidebar" class="sidebar">
  <div id="sidebar-static">
    <h2>Static Pages</h2>
    <ul>
      {{- $page := . }}
      {{- range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{- end }}
    </ul>
  </div>

  <div id="sidebar-sections">
    <h2>Blog Sections</h2>
    <ul>
      {{ partial "section_menu.html" (.GetPage .Site.Params.blogSection) }}
    </ul>
  </div>

  <div id="sidebar-external">
    <h2>External Links</h2>
    <ul>
      {{ partial "social.html" . }}
    </ul>
  </div>
</nav>

<footer id="footer">
  <address><a href="mailto:{{ .Site.Author.email }}">{{ .Site.Author.name }}</a></address>
</footer>
