<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" type="text/css" href="{{ "css/fonts.css" | absURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="stylesheet" type="text/css" href="{{ "basicLightbox/basicLightbox.min.css" | absURL }}">
<script src="{{ "basicLightbox/basicLightbox.min.js" | absURL }}"></script>

<link rel="stylesheet" href="{{ "katex/katex.min.css" | absURL }}">
<script defer src="{{ "katex/katex.min.js" | absURL }}"></script>

<script defer src="{{ "js/auto-render.min.js" | absURL }}" onload="renderMathInElement(document.body);"></script>

<link rel="stylesheet" type="text/css" href="{{ "ol/ol.css" | absURL }}">

{{ template "_internal/opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
