{{ $dateFormat := "2 Jan 2006" }}
  <hgroup>
    {{ if .Scratch.Get "link_post" -}}
      <h1><a href="{{ .Permalink }}"><span class="h-anchor h1-anchor">◆ </span>{{ .Title }}</a></h1>
    {{ else }}
      <h1>{{ .Title }}</h1>
    {{- end }}
    {{ with .Params.subtitle }}<p class="subtitle">{{.}}</p>{{ end }}
  </hgroup>
  {{ if ne .Type "section" -}}
  <p class="post-meta">
     {{ if .Draft }}<strong class="draft">DRAFT</strong>{{ else }}{{ .Date.Format $dateFormat }}{{ if and (eq .Type "page") (gt .Lastmod .Date) }}, <span class="lastmod">updated {{ .Lastmod.Format $dateFormat }}</span>{{ end }}{{ end }}
     {{ if or (eq .Type "post") (eq .Type "link") }}{{ with .Parent }}&nbsp;&bull;&nbsp; {{ partial "browseable_path.html" . }}{{ end }}{{ end }}
     {{ if .Params.rating }}&nbsp;&bull;&nbsp; {{ strings.Repeat .Params.rating "★" }}{{ strings.Repeat (sub 5 .Params.rating) "☆" }}{{ end }}
  </p>
  {{- end }}
