  <div class="post-body">
    {{/*
      Below is hairy because we have a few different replacements to do.
      Once we've got Hugo 0.81 everywhere, it should be possible to spread
      it across multiple lines, at least.
    */}}
    {{ .Content | replaceRE "(<h2 id=\"(.+)\"[^>]*>)(.*)(</h2>)" `${1}<a class="h-anchor h2-anchor" href="#${2}">§ </a>${3}${4}` | replaceRE "(<h3 id=\"(.+)\"[^>]*>)(.*)(</h3>)" `${1}<a class="h-anchor h3-anchor" href="#${2}"># </a>${3}${4}` | replaceRE "(<h4 id=\"(.+)\"[^>]*>)(.*)(</h4>)" `${1}<a class="h-anchor h4-anchor" href="#${2}">– </a>${3}${4}` | replaceRE `([.?!]["”)]?|:)  ` "${1}&thinsp; " | replaceRE `([.?!]["”)]?|:)(\n|$)` "${1}&thinsp;${2}" | safeHTML }}
  </div>
