{{ with .Site.Social.github }}
  <li><a href="https://github.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitHub" class="fab fa-github fa-2x">GitHub</a></li>
{{- end -}}

{{ with .Site.Social.gitlab }}
  <li><a href="https://gitlab.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitLab" class="fab fa-gitlab fa-2x">GitLab</a></li>
{{- end -}}

{{ with .Site.Social.stackoverflow }}
  <li><a href="https://stackoverflow.com/users/{{.}}" target="_blank" rel="noopener noreferrer" title="Stack Overflow" class="fab fa-stack-overflow fa-2x">Stack Overflow</a></li>
{{- end -}}

{{ with .Site.Social.stackexchange }}
  <li><a href="https://stackexchange.com/users/{{.}}" target="_blank" rel="noopener noreferrer" title="Stack Exchange" class="fab fa-stack-exchange fa-2x">Stack Exchange</a></li>
{{- end -}}

{{ with .Site.Social.bitbucket }}
  <li><a href="https://bitbucket.org/{{.}}/" target="_blank" rel="noopener noreferrer" title="Bitbucket" class="fab fa-bitbucket fa-2x">Bitbucket</a></li>
{{- end -}}

{{ with .Site.Social.jsfiddle }}
  <li><a href="https://jsfiddle.com/{{.}}" target="_blank" rel="noopener noreferrer" title="JSFiddle" class="fab fa-jsfiddle fa-2x">JSFiddle</a></li>
{{- end -}}

{{ with .Site.Social.codepen }}
  <li><a href="https://codepen.io/{{.}}" target="_blank" rel="noopener noreferrer" title="CodePen" class="fab fa-codepen fa-2x">Code Pen</a></li>
{{- end -}}

{{ with .Site.Social.printables }}
  <li><a href="https://www.printables.com/@{{.}}" target="_blank" rel="noopener noreferrer" title="Printables" class="fab fa-cubes fa-2x">Printables</a></li>
{{- end -}}

{{ with .Site.Social.deviantart }}
  <li><a href="https://www.deviantart.com/{{.}}" target="_blank" rel="noopener noreferrer" title="DeviantArt" class="fab fa-deviantart fa-2x">DeviantArt</a></li>
{{- end -}}

{{ with .Site.Social.flickr }}
  <li><a href="https://flickr.com/photos/{{.}}" target="_blank" rel="noopener noreferrer" title="Flickr" class="fab fa-flickr fa-2x">Flickr</a></li>
{{- end -}}

{{ with .Site.Social.behance }}
  <li><a href="https://behance.net/{{.}}" target="_blank" rel="noopener noreferrer" title="Behance" class="fab fa-behance fa-2x">Behance</a></li>
{{- end -}}

{{ with .Site.Social.dribbble }}
  <li><a href="https://dribbble.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Dribbble" class="fab fa-dribbble fa-2x">Dribbble</a></li>
{{- end -}}

{{ with .Site.Social.wordpress }}
  <li><a href="https://{{.}}.wordpress.com" target="_blank" rel="noopener noreferrer" title="WordPress" class="fab fa-wordpress fa-2x">WordPress</a></li>
{{- end -}}

{{ with .Site.Social.medium}}
  <li><a href="https://medium.com/@{{.}}" target="_blank" rel="noopener noreferrer" title="Medium" class="fab fa-medium fa-2x">Medium</a></li>
{{- end -}}

{{ with .Site.Social.linkedin }}
  <li><a href="https://linkedin.com/in/{{.}}" target="_blank" rel="noopener noreferrer" title="LinkedIn" class="fab fa-linkedin fa-2x">LinkedIn</a></li>
{{- end -}}

{{ with .Site.Social.linkedin_company }}
  <li><a href="https://linkedin.com/company/{{.}}" target="_blank" rel="noopener noreferrer" title="LinkedIn Company" class="fab fa-linkedin fa-2x">LinkedIn Company</a></li>
{{- end -}}

{{ with .Site.Social.foursquare }}
  <li><a href="https://foursquare.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Foursquare" class="fab fa-foursquare fa-2x">Foursquare</a></li>
{{ end  -}}

{{ with .Site.Social.xing }}
  <li><a href="https://www.xing.com/profile/{{.}}" target="_blank" rel="noopener noreferrer" title="Xing" class="fab fa-xing fa-2x">Xing</a></li>
{{- end -}}

{{ with .Site.Social.slideshare }}
  <li><a href="https://slideshare.net/{{.}}" target="_blank" rel="noopener noreferrer" title="SlideShare" class="fab fa-slideshare fa-2x">SlideShare</a></li>
{{- end -}}

{{ with .Site.Social.facebook }}
  <li><a href="https://facebook.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Facebook" class="fab fa-facebook fa-2x">Facebook</a></li>
{{- end -}}

{{ with .Site.Social.googleplus }}
  <li><a href="https://plus.google.com/+{{.}}" target="_blank" rel="noopener noreferrer" title="Google+" class="fab fa-google-plus fa-2x">Google+</a></li>
{{- end -}}

{{ with .Site.Social.reddit }}
  <li><a href="https://www.reddit.com/user/{{.}}" target="_blank" rel="noopener noreferrer" title="Reddit" class="fab fa-reddit fa-2x">Reddit</a></li>
{{- end -}}

{{ with .Site.Social.quora }}
  <li><a href="https://quora.com/profile/{{.}}" target="_blank" rel="noopener noreferrer" title="Quora" class="fab fa-quora fa-2x">Quora</a></li>
{{- end -}}

{{ with .Site.Social.youtube }}
  <li><a href="https://www.youtube.com/{{.}}" target="_blank" rel="noopener noreferrer" title="YouTube" class="fab fa-youtube fa-2x">YouTube</a></li>
{{- end -}}

{{ with .Site.Social.youtube2 }}
  <li><a href="https://www.youtube.com/{{.}}" target="_blank" rel="noopener noreferrer" title="YouTube" class="fab fa-youtube fa-2x">YouTube</a></li>
{{- end -}}

{{ with .Site.Social.vimeo }}
  <li><a href="https://vimeo.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Vimeo" class="fab fa-vimeo fa-2x">Vimeo</a></li>
{{- end -}}

{{ with .Site.Social.whatsapp }}
  <li><a href="https://api.whatsapp.com/send?phone={{.}}" target="_blank" rel="noopener noreferrer" title="WhatsApp" class="fab fa-whatsapp fa-2x">WhatsApp</a></li>
{{- end -}}

{{ with .Site.Social.instagram }}
  <li><a href="https://instagram.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Instagram" class="fab fa-instagram fa-2x">Instagram</a></li>
{{- end -}}

{{ with .Site.Social.tumblr }}
  <li><a href="https://{{.}}.tumblr.com" target="_blank" rel="noopener noreferrer" title="Tumblr" class="fab fa-tumblr fa-2x">Tumblr</a></li>
{{- end -}}

{{ with .Site.Social.twitter }}
  <li><a href="https://twitter.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Twitter" class="fab fa-twitter fa-2x">Twitter</a></li>
{{- end -}}

{{ with .Site.Social.mastodon }}
  <li><a href="https://{{ replaceRE ".*@" "" . }}/@{{ replaceRE "@.*" "" . }}" target="_blank" rel="noopener noreferrer me" title="Mastodon" class="fab fa-mastodon fa-2x">Mastodon</a></li>
{{- end -}}

{{ with .Site.Social.librarything }}
  <li><a href="https://www.librarything.com/catalog/{{.}}" target="_blank" rel="noopener noreferrer" title="LibraryThing" class="fab fa-book fa-2x">LibraryThing</a></li>
{{- end -}}

{{ with .Site.Social.bookwyrm }}
  <li><a href="https://{{ replaceRE ".*@" "" . }}/user/{{ replaceRE "@.*" "" . }}" target="_blank" rel="noopener noreferrer" title="Bookwyrm" class="fab fa-book fa-2x">Bookwyrm</a></li>
{{- end -}}

{{ with .Site.Social.skype }}
  <li><a href="skype:{{.}}?userinfo" target="_blank" rel="noopener noreferrer" title="Skype" class="fab fa-skype fa-2x">Skype</a></li>
{{- end -}}

{{ with .Site.Social.snapchat }}
  <li><a href="https://snapchat.com/add/{{.}}" target="_blank" rel="noopener noreferrer" title="snapchat" class="fab fa-snapchat fa-2x">Snapchat</a></li>
{{- end -}}

{{ with .Site.Social.pinterest }}
  <li><a href="https://www.pinterest.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Pinterest" class="fab fa-pinterest-p fa-2x">Pinterest</a></li>
{{- end -}}

{{ with .Site.Social.pinboard }}
  <li><a href="https://pinboard.in/u:{{.}}" target="_blank" rel="noopener noreferrer" title="Pinboard" class="fab fa-thumbtack fa-2x">Pinboard</a></li>
{{- end -}}

{{ with .Site.Social.telegram }}
  <li><a href="https://telegram.me/{{.}}" target="_blank" rel="noopener noreferrer" title="telegram" class="fab fa-telegram fa-2x">Telegram</a></li>
{{- end -}}

{{ with .Site.Social.discord }}
  <li><a href="{{.}}" target="_blank" rel="noopener noreferrer" title="Discord" class="fab fa-discord fa-2x white-text">Discord</a></li>
{{- end -}}

{{ with .Site.Social.twitch }}
  <li><a href="https://www.twitch.tv/{{.}}" target="_blank" rel="noopener noreferrer" title="twitch" class="fab fa-twitch fa-2x">Twitch</a></li>
{{- end -}}

{{ with .Site.Social.email }}
  <li><a href="mailto:{{.}}" title="Email" class="fas fa-envelope fa-2x">Email</a></li>
{{- end -}}
