{{ define "toc" }}
<div id="toc" class="sidebar frontpage">
  <h2>Articles</h2>
  {{- $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "!=" "page") -}}
  <ul>
    {{- range $paginator.Pages -}}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{- end -}}
  </ul>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}


{{- define "main" -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "showSeparator" false -}}
{{- $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "!=" "page") -}}
{{- range $paginator.Pages -}}
  {{- .Scratch.Set "link_post" true -}}
  {{ if $scratch.Get "showSeparator" }}<hr class="article-separator"/>{{ end }}
  <article class="post">
    <header class="post-title">
      {{ partialCached "post_title.html" . .Title }}
    </header>
    {{ partial "post_body.html" . }}
  </article>
  {{- $scratch.Set "showSeparator" true -}}
  {{- .Scratch.Set "link_post" false -}}
{{- end -}}
{{ template "_internal/pagination.html" . }}
{{- end -}}
